.form-signup {
    min-height: 100vh;
    width: 100%;
   
    align-items: center;
    text-align: center;
    justify-content: center;

    font-family: "Open Sans", sans-serif;
}

.signUpBox {
    background: #9B78B6;
    padding: 80px 80px;
    border-radius: 10px;
    margin-top: 40px;
}

.card-footer {
    margin: 20px;
}

ul {
    list-style-type: none;
}

a{
 color: #ffffff;
}
.boxx {
    display: flex;
    
    width: 100%;
   
    align-items: center;
    text-align: center;
    justify-content: center;

}


.top-tabs {
    margin-top: 40px;
   
}
.top-tabs a {
    color: black;
    font-size: 32px;
    padding: 10px 30px 10px 30px;

}
.top-tabs a:hover {
    background: none;
}
.tab-tab:hover{
    text-decoration: underline;
    color: none;
}
