.askeve-body {
    min-height: 100vh;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(116,212,91);
    background: linear-gradient(90deg, rgba(116,212,91,0.9) 1%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 85%, rgba(155,120,182,0.9) 99%);
    font-family: "Open Sans", sans-serif;
}

.askeve-container {
    padding: 20px 40px 20px 40px;
    width: 70%;
    margin-top: -25px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.askeve-heading1 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    line-height: normal;
    padding-bottom: 20px;
}

.askeve-heading2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    padding-bottom: 40px;
}

.askeve-userinfocontatiner{
    text-align: left;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.askeve-name-container{
    text-align: left;
    width: 50%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.askeve-email-container{
    text-align: left;
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.askeve-textarea-continer{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.askeve-input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.askeve-textarea{
    padding:10px !important;
    height: 250px;
    border-width: 2px;
    border-radius: 5px;
    border-color: #000000;
    border-style: solid;
    margin: 0;
    padding: 0;
    resize: none;
}

.askeve-label{
    margin-bottom: 5px;
}

@media screen and (max-width: 1020px) {
    .askeve-body{
        background: rgb(238,238,238,1);
        background: linear-gradient(#ffffff);
    }
    .askeve-container{
        margin-top: 50px;
    }
    .askeve-userinfocontatiner{
        padding-bottom: 20px;
        flex-direction: column;
    }
    
    .askeve-name-container{
        width: 100%;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    
    .askeve-email-container{
        width: 100%;
        padding-left: 0px;
    }
}