.askeve-body {
    min-height: 100vh;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d89b4;
    font-family: "Open Sans", sans-serif;
}

.askeve-container {
    width: 90%;
    height: 80%;
    margin-top: -150px;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.Askeve-heading1 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

.Askeve-heading2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.text {
    font-size: 20px;
    color: #545454;
    text-align: left;
    padding: 30px;
}