.article-wrapper {
    display: inline-block;
    flex-wrap: wrap;
    align-content: center;
    background: linear-gradient(90deg, rgba(116,212,91,0.9) 1%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 85%, rgba(155,120,182,0.9) 99%);
    margin: 0;
}

.article-content {
    margin: 3rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.article-title{
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
    text-align: center;
    font-size: 2.5rem;

}

.article-author{
    line-height: 2.5rem;
    margin: 1rem 0 0.5rem;
    text-align: center;
}

.comments-container {
    /* margin-top: 30px; */
    padding: 5px;
    background: linear-gradient(90deg, rgba(116,212,91,0.9) 1%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 85%, rgba(155,120,182,0.9) 99%);
}

.comment-wrapper .panel-body {
    max-height:650px;
    margin-left: 150px;
    /* overflow:auto; */
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px solid #efefef;
    margin-bottom:10px;
}

.text-success {
    margin-left: 20px;
}

.media-body p {
    margin-left: 20px;
}

.commentHeader {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.commentWrite {
    border: 1px solid;
    max-width: 830px;
    background-color: #efefef;
    font-size: 18px;
}

.commentWrite:hover {
    background-image: linear-gradient(to right,#efefef ,#77C266);
}

@media screen and (max-width: 1020px) {
    .comment-wrapper .panel-body { 
        margin-left: 20px;
    }
   
}