.pricing-heading-top {
    height: 210px;
    display: table;
    text-align: center;
    margin: 20px auto 20px auto;
    font-size:70px;
    background-image: linear-gradient(180deg, rgba(238,174,202,255), #566ec5);
    border-radius: 40px;
    border-style:solid;
    border-spacing: 20px;
    border-width: 20px;
    border-color: black;
    color:#ffffff;
    padding: 20px;
}

.pricing-section{
    padding-top: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30%;
    background-image: url(../../assets/cityscape.png);
    background-size: cover;
}

.pricing-heading-bottom {
    padding: 20px;
    font-size:24px;
    background-image: linear-gradient(180deg, rgba(238,174,202,255), #566ec5);
    margin: 40px auto 20px auto;
    border-radius: 40px;
    border-style:solid;
    border-spacing: 20px;
    border-width: 20px;
    border-color: black;
    color:#ffffff;
}

.pricing-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.pricing-heading{
    color: black;
    font-size: 48px;
}

.pricing-container{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.pricing-card{
    margin-left: 30px;
    margin-right: 30px;
    background: #242424;
    padding: 20px;
    width: 300px;
    height: 418px;
    text-decoration: none;
    border-radius: 40px;
    border-style:soild;
    border-width: 40px;
    color:#000000;
}

.pricing-card-info{
    background-image: linear-gradient(360deg, rgba(238,174,202,255), #566ec5);
    border-radius: 20px;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.pricing-card-icon{
    margin: 12px 0;
}

.pricing-card-plan{
    margin-bottom: 5px;
    font-size: 24px;
}

.pricing-card-cost{
    font-size: 40px;
}

.pricing-card-length{
    font-size: 14px;
    margin-bottom: 24px;
}

.pricing-card-features{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.pricing-card-feature{
    margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
    .pricing-section {
        padding-top: 40px;
    }
    .pricing-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pricing-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 150px;
    }
    .pricing-card{
        width: 80%;
    }
}