.modal-header{
    
    background-color: palevioletred!important;
    color: black;
    text-align: center;
 
    
}

.modal-title{
    text-align: center;
    margin: auto;
}

.modal-footer{
    margin: auto;
}