.sponsor-container {
    background-image: linear-gradient(to right, rgba(52, 20, 20, 0), #7b87b3);
}

.prof-img img {
    border-radius: 50%;
    padding-bottom: 20px;
    height: 80px;
    width: 80px;

}
.pro-sidebar {
    min-height: 100vh;
  
}


.pro-sidebar-inner{
    background-color: rgb(22, 4, 58)!important;
}

.prof-menu {
align-items: center;
justify-content: center;
display: flex;
}

.prof-img img {
    height: 200px;
    width:  220px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
}
.prof-img {
    border-radius: 30px;
}
.emp-content {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 80px;
}

.main-body{
    width: 100%;
    display: flex;
}
.right-side{
    width: 100%;

}
.right-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 40px;
    background: rgb(248, 248, 250);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.right-nav ul li {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.right-nav ul li.active, .right-nav ul li:hover {
    box-shadow: 0px -3px 0px rgba(111, 136, 227,6.5) inset;
}
.user-articles, .user-videos, .user-settings{
    font-size: 18px;
    font-weight: bold;
}
.tab {
    padding : 20px;
    width: 100%;
    text-align: center;
 
}
.pro-inner-item:hover , .pro-item-content:hover{
 
}

.sp-container {

    display: inline-block;
    flex-wrap: wrap;
    display: flex;
     
 
}

.sp-card{
    max-width: 640px;
    min-width: 640px;
    margin-left: 20px;
    margin-top: 30px;
    max-height: 200px;
    min-height: 200px;
    background-color: rgba(255, 240, 80, 0.947);
    box-shadow: 0px 2px 20px rgba(0,0,0,1.4);
    cursor: pointer;
    transition: transform .2s;
}
.sp-card:hover {

  transform: scale(1.1); 
}

.prof-card-body{

}

@media screen and (max-width: 1030px){
    .sp-card {
        margin: auto;
        align-content: center;
        justify-content: center;
        display: flex;
        max-width: 340px;
        min-width: 340px;
    }
}

@media screen and (max-width: 670px){
    .sp-card {
        min-width: 240px;
        min-height: 150px;
    }
    .pro-sidebar{
        width: 170px!important;
        min-width: 170px!important;
      
    }
    .prof-img img {
        border-radius: 50%;
        padding-bottom: 20px;
        height: 120px;
        width: 120px;
    
    }
}

@media screen and (max-width: 570px){
  
    .right-side{
        max-width: 80%;
    }
   
   
    .sp-card {
        min-width: 240px;
        min-height: 150px;
        margin-left: 50px;
    }
    .sp-container {

       width: 50%;         
     
    }
    .emp-content {
        font-size: 16px;
    }
    .pro-menu-item {
        font-size: 13px!important;

    }
   .user-articles, .user-videos, .user-settings{
       font-size: 12px;
   }

}
@media screen and (max-width: 530px){
    .sp-card {
        min-width: 240px;
        min-height: 150px;
        margin-left: -10px;
    }
    
    .sp-h1 {
        font-size: 28px;
        text-align: left;
    }
    .right-nav ul {
        text-align: center;
        height: 50px;
      
    }
    .pro-sidebar{
        width: 120px!important;
        min-width: 120px!important;
      
    }
    .prof-img img {
        border-radius: 50%;
        padding-bottom: 20px;
        margin-left: 10px;
        height: 100px;
        width: 100px;
    
    }
    .pro-menu-item {
        font-size: 10px!important;
        padding-left: 12px;

    }
    @media screen and (max-width: 435px){
        .right-nav ul {
            text-align: left;
         
          
        }

        .right-side{
            width: 75%;
   
        }
        .right-nav{
            width: 100%;
        }
        .sp-card {
            min-width: 250px;
            min-height: 200px;
            margin-left: -10px;
        }
    }
    @media screen and (max-width: 375px) {
        .sp-card {
            min-width: 180px;
            min-height: 200px;
            margin-left: -10px;
        }
        
    }
}