.sponsorprofile-body {
    background-color: #7d95ff58;
    padding: 10px;
    min-height: 100vh;
}

.sponsorprofile-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sponsorprofile-sidebar-body{
    background-color: #7c31a7;
    border-radius: 20px;
}

.sponsorprofile-sidebar-container {
    background-color: #3e3245;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    max-width: 250px;
    min-height: 100vh;
    padding: 20px;
    border-radius: 20px;
}

.sponsorprofile-sidebar-png{
    justify-content: center;
}

.sponsorprofile-sidebar-content{
    display: flex;
    flex-direction: column;
}

.sponsorprofile-sidebar-name{
    background-color: #3e3245;
    color: #ffffff;
    padding: 20px;

    font-size: 16px;
    line-height: normal;
    text-align: center;
}

.sponsorprofile-sidebar-menu {
    background-color:#6d6192;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
}

.right-side-container {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
}

.right-side{
    width: 100%;
}

.right-tabs{
    background-color: #5454c5;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    min-height: 8vh;
    border-radius: 20px;
}

.right-tab-cont{
    background-color: #783effa6;
    margin-top: 30px;
}

.right-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-left: 0px;
    height: 40px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}

.right-nav ul li {
    padding: 10px;
    width: 100%;
    text-align: center;

    transition: all 0.2s ease-in-out;
}

.right-nav ul li.active, .right-nav ul li:hover {
    box-shadow: 0px -3px 0px rgba(111, 136, 227,6.5) inset;
}

.sp-h1{
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
}

.btnstyle{
    background-color: white;
    color: black;
    margin-left: 20px;
    margin-bottom: 4px;
}

.user-articles, .user-videos{
    width: 50%;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
}

.user-articles:hover {
    background-color: #5c3bff71;
    color: #ffffff;
    border-radius: 20px;
    font-size: 30px;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.user-videos:hover{
    background-color: #5c3bff71;
    color: #ffffff;
    border-radius: 20px;
    font-size: 30px;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

table{
    background-color:#fff;
    color:#333; 
    width: 560px;
    font-size:15px;

    box-shadow: 0px 2px 10px rgba(0,0,0,0.7);
}

tr{
    font-size: 18px;  
    text-align: center; 
}

th, td, tr{
    width: 560px;
}

@media screen and (max-width: 1020px) {
    .sponsorprofile-body {
        padding: 0px;
    }
    .sponsorprofile-container{
        flex-direction: column;
        align-items: center;
    }
    .sponsorprofile-sidebar-body{
        background-color: #3e3245;
        align-content: center;
        margin-top: 30px;
        width: 90vw;
        height: min-content;
    }
    .sponsorprofile-sidebar-container {
        background-color: #3e3245;
        flex-direction: column;
        align-items: center;
        min-height: 10vh;
        max-width: 100vw;
        border-radius: 10px;
    }
    .sponsorprofile-sidebar-png{
        max-width: 100px;
    }
    .sponsorprofile-sidebar-content{
        width: 80%;
        background-color: #3e3245;
        flex-direction: column;
    }
    .sponsorprofile-sidebar-name{
        padding: 10px;
    }
    .sponsorprofile-sidebar-menu {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 20px;
        max-height: 13vh;
        border-radius: 30px;
    }
    .sponsorprofile-sidebar-png{
        height: 20%;
    }
    .sponsorprofile-sidebar-btn{
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .right-side-container {
        padding-top: 30px;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .sponsorprofile-sidebar-btn{
        font-size: 12px;
    }
}