.landing-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .landing-video  {
        margin-top: -188px;
        height: 160%;
    }
}

.landing-container .landing-h1{
    color: white;
    font-size: 180px;
    margin-top: -100px;
    margin-bottom: 0;
}


.landing-container .landing-p {
    margin-top: 0;
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-play-circle {
    margin-left: 2px;
}
.fa-arrow-right{
    margin-left: 8px;
    padding-left: 2px;
}


@media screen and (max-width: 460px){
    .landing-container .landing-h1 {
        font-size: 50px;
        margin-top: -100px;
    }
    .landing-container .landing-p {
        font-size: 30px;
        text-align: center;
    }
}