:root {
    --primary: #ffffff;
}


.btn {
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #292B6E;
    margin: 1px;
}
.btn:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #ffff;
    color: #292B6E;
    transition: 250ms;
}
.btn-success {
    float: right;
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-60px);
    opacity: 0;
    visibility: visible;
}


.signup-btn {
    color: white;
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #77C266;
    margin: 8px;
}
.login-btn {
    color: white;
    width: 100%;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #77C266;
    margin: 8px;
}


.login-link{
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #77C266;
}
.signup-link{
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #77C266;
}
.forgotpassword-link{
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #77C266;
}

.contactus-button {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 35%;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: #292b6e;
    border-radius: 20px;
    border-style:solid;
    border-width: 0px;
    border-spacing: 20px;
    transition: ease-in-out 150ms;
}

.contactus-button:hover {
    background-color:  #676ab3;
    border-radius: 10px;
    border-width: 2px;
    color: white;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}


.askeve-btn{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    color: white;
    background-color: #292b6e;
    border-radius: 20px;
    border-style:solid;
    border-width: 0px;
    border-spacing: 20px;
    transition: ease-in-out 150ms;
}
.askeve-btn:hover {
    background-color:  #676ab3;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    color: white;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}


.landingpage-btn {
    padding: 20px;
    margin: 20px auto 20px auto;
    margin-top: 50px;
    font-size: 20px;
    color:#ffffff;
    background-color: #292b6e;
    border-radius: 20px;
    border-style:solid;
    border-spacing: 20px;
    border-width: 2px;
    transition: ease-in-out 175ms;
}
.landingpage-btn:hover {
    color: #ffffff;
    background-image: linear-gradient(rgba(104, 12, 141, 0.5), #516ac7);
    padding: 30px;
}


.resources-cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, rgba(32, 44, 155) 0%, rgb(181,195,251) 100%);
    border-radius: 0.8rem;
    color: white;
    text-decoration: none;
}
.resources-cta:hover {
    color: white;
    border-radius: 0.8rem;
    background-image: linear-gradient(to right,rgb(181,195,251) 0%,rgba(32, 44, 155, 0.8) 100%);
}


.newarticle-btn{
    padding: 8px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #292B6E;
    margin: 1px;
}
.newarticle-btn:hover{
    color: #ffffff;
}


.video-btn {
    max-width: 100px;
    box-shadow: none;
    padding: 6px 5px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(32, 44, 155) 0%, rgb(181,195,251) 100%);
    margin: 1px;
    color: white;
}
.video-btn:hover {
    color: white;
    background-image: linear-gradient(to right,rgb(181,195,251) 0%,rgba(32, 44, 155, 0.8) 100%);
}


.uploadvideo-btn{
    border-style: none;
    margin-left: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    color: #ffffff;
    background-color: #9658fe;
}
.uploadvideo-btn:hover{
    background-color: #a978ff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}


.sponsorprofile-sidebar-btn{
    background-color: #3e3245;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;

    transition: all ease-in 0.5s;
}
.sponsorprofile-sidebar-btn:hover{
    background-color: #75a5ff80;
    color: #ffffff;
    border-radius: 40px;

    transform: translateY(-4px);
    transition-timing-function: linear;
    transition-duration: 70ms;
}


.sponsorpackage-signupbtn {
    padding: 20px;
    margin: 20px auto 20px auto;
    margin-top: 50px;
    font-size: 20px;
    color:#eeeeee;
    background-image: linear-gradient(180deg, rgba(104, 12, 141), #516ac7);
    border-radius: 20px;
    border-style:solid;
    border-spacing: 20px;
    border-width: 2px;
    transition: ease-in-out 150ms;
}
.sponsorpackage-signupbtn:hover {
    color: #eeeeee;
    background-image: linear-gradient(rgba(104, 12, 141, 0.5), #516ac7);
    padding: 30px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 1);
}