.contactus-body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #7d89b4;
    font-family: "Open Sans", sans-serif;
}

.contactus-section {
    margin-top: -100px;
    background-image: url(../../assets/ContactUs.png);
    background-position: left; 
    background-size: 50%;
    background-color: #ffffff; 
    border-radius: 25px;
} 

.contactus-container {
    width: 50%;
    float: right;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    padding: 60px;
}

.contactus-h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.contactus-h2 {
    font-size: 16px;
}

.contactus-p {
    font-size: 13px;
    color: #545454;
    line-height: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1000px){
    .contactus-section{
        background-image: none;
        width: fit-content;
        max-width: 90%;
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.025);
    }
    .contactus-container{
        margin-top: -125px;
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: 0 30px 30px rgba(0, 0, 0, 0.4);
    }
}