.navbar {
}

.nav-logo {
     width: 90px;
     height: 90px;
     margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    margin-left:20px;
    margin-right:20px;
}

@media screen and (max-width:1010px){
    .navbar-dark .navbar-nav .nav-link {
        margin-left:0px;
        margin-right:0px;
        text-align:center;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    background: #c2cffc;
    color: #292B6E;
    border-radius: 4px;
}


.navbar-dark .navbar-nav .nav-btns .nav-link {
    background: #c2cffc;
    border-radius: 4px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-align:center;
}

@media screen and (max-width: 1010px){
    .navbar-dark .navbar-nav .nav-btns .nav-link {
        background: none;
    }
}

.navbar-dark .navbar-nav .nav-btns .nav-link:hover {
    background: #fff;
    color: #292B6E;
    border-radius: 4px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.navbar-dark span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}


.dropdown {
    color: white;
    align-items: center;
    text-decoration: none;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #292B6E;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    /* color: #c2cffc; */
    background-color: #c2cffc;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    display: block;
}

@media screen and (max-width: 1010px){
    .dropdown:hover .dropdown-content {
        position: static;
    }
}