.resources-body {
    margin-top: 20px;
    padding: 2%;
    width: 100%;
    border-radius: 40px;
    background: #6dc0af;
}

.resources-banner-container {
    padding-top: 40px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    justify-items: center;
    background: #6dc0af;
}

.resources-banner-text {
    background-image:linear-gradient(90deg, rgba(238,174,202,0.8), rgba(148,187,233,0.8));;
    border-style:solid;
    border-radius: 40px;
    border-spacing: 20px;
    border-width: 20px;
    border-color: black;
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}

.resources {
    margin: auto;
    margin-bottom: 40px;
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0,0,0, 0.5);
    background-color: white;
    border-style:solid;
    border-radius: 40px;
    border-spacing: 20px;
    border-width: 20px;
    border-color: black;
}

.resources-info {
    padding-bottom: 30px;
    padding-top: 30px;
}

.resources-text {
    margin-bottom: 3rem;
    color: #000000;
}

.resources-cta {
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(238,174,202,0.8), rgba(148,187,233,0.8));
    border-radius: 0.8rem;
    color: white;
    text-decoration: none;
}

.resources-cta:hover {
    color: white;
    background: linear-gradient(90deg, rgba(148,187,233,0.8),rgba(238,174,202,0.8));
}


img {
    width: 100%;
}

.resources-img {
    min-width: 25rem;
    max-width: 25rem;
    height: 20rem;
    transform: translate(-2rem);
    position: relative;
}

.resources-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}
.resources-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(238,174,202);
    background: linear-gradient(180deg, rgba(238,174,202,0.8), rgba(148,187,233,0.8));
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0,0,0, 0.5);
    border-radius: 0.8rem;
}

@media screen and (max-width: 800px){
    .resources {
        padding: 25%;
        flex-direction: column;
        min-width: 100%;
        border-radius: 4rem;
       
    }
    .resources-img{
        max-width: 30rem;
        min-width: 30rem;
        transform: translate(0, -8rem);
    }
}