.zoompage-body{
    margin: -40px;
    padding: 0;
    min-height: 100vh;
    background-color: #f1f1f1;
}
.zoom-heading{
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    padding-top: 50px;
    margin-left: 15%;
    margin-top: 30px;
   
}
.btnzoom {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    
}

@media screen and (max-width:445px){
    .zoom-heading{
        font-size: 24px;
    }
    .zoomImage {
        display: none;
    }
}
@media screen and (max-width:375px){
    .zoom-heading{
        font-size: 18px;
    }
}