.zoompage-body{
    background-color: #9B78B6;
    border-radius: 10px;
    padding: 5px;
}
.zoom-heading{
    font-family: Roboto;
    font-weight: 400;
    font-size: 32px;
    padding-top: 30px;
    margin-left: 10%;
   
}
.zoom-btn {
    margin-top: 20px;
}

@media screen and (max-width:445px){
    .zoom-heading{
        font-size: 12px;
    }
    .zoomImage {
        display: none;
    }
}
@media screen and (max-width:375px){
    .zoom-heading{
        font-size: 12px;
    }
}