.events-body {
    background-color: #fff;
    background-blend-mode: normal;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-container {  /* placement for the cards */
    position: relative;
    width: 55%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 0 40px;
}

.events-container .events-box { /* sizing for the cards, and designs for the cards */ 
    position: relative;
    height: 400px;
    background: #74bcec;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 1rem;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.5);
}

.events-container .events-box:before {   /* setting the half border for the card */
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.events-container .events-box:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.06);
    pointer-events: none;
}


.events-content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.events-content .events-headings {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 7em;
    color: rgba(255,255,255,0.1);
    transition: 0.5s;
}

.events-box:hover .events-content .events-headings {
    top: -140px;
}

.events-box .events-content .events-headings2 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #000;
}

.events-box .events-content .events-para {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
}

.events-box .events-content .events-link {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.events-box:hover .events-content .events-link {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.events-box .events-content .events-link:hover {
    color: #000;
    background: #fff;
}

@media screen and (max-width: 1020px) {
    .events-box {
        margin-bottom: 20px;
        width: 320px;
    }

    .events-body {
        margin-top: 90px;
    }

}
