.full-vid-body {
    min-height: 100vh;
    background-color: #fff;
   padding: -25px;
   margin: -25px;
}

.backg{
    background-color: rgb(127, 97, 175);
    height: 650px;
    position: relative;

 
}
 
.full-vid-container{
    height: 100%;
    width: 100%;
    padding: 100px;
  
    margin: 100px;
    align-items: left;
    justify-content: left;
    display: flex;
    
}

.box{
   
    position: absolute;
    top: 43%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 410px;
    height: 350px;
    padding: 30px;
    display: flex;
    align-items: right;
    justify-content: right;
    box-shadow: 0 0 8px rgba(0,0,0,1);
  
} 

