.videos-body {
    margin: 0;
    padding: 0;
    min-height: 120vh;
    background-color: #f1f1f1; 
}
.content {
    position: relative;
     height: 550px;
     flex-wrap: wrap;
     align-content: center;
     
     display: inline-block;
 }   
.vid {

    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray-light);
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    height: 300px;
    display: inline-block;
  
 
}

h1 {
    margin-top: 20px;
    text-align: center;
}
.textBox {
  
    width: 350px;
    height: 100px;
    border: 2px solid black;

    
  
  
    
}
