.videos-body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(116,212,91,0.9) 1%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 85%, rgba(155,120,182,0.9) 99%);
}

.content {
    position: relative;
     height: 250px;
     flex-wrap: wrap;
     align-content: center;
     margin: 30px;
     display: inline-block;
}

.vid {
    overflow: hidden;
    box-shadow: 0px 2px 20px rgba(0,0,0,1.4);
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    margin-top: 20px;
    transition: 250ms all ease-in-out;
    height: 300px;
    display: inline-block;
}

.textBox {
    text-align: center;
    width: 350px;
    height: 350px;
    border: 2px solid rgb(0, 0, 0);
}

.video-h {
    font-size: 24px;
    color: rgb(59, 59, 216);
    margin-bottom: 0;  
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.video-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.video-h1 {
    text-align: center;
}