.login-page{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(116,212,91,0.9) 1%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 85%, rgba(155,120,182,0.9) 99%);
}

.form-login {
    
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 45%;
    margin: 0 auto 0;
    padding: 90px 0;
    font-family: "Open Sans", sans-serif;
}

.loginBox{
    background: #9B78B6;
    padding: 80px 80px;
    border-radius: 10px;

}

.form-control {
    margin: 15px;
}

.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.suggestions-text{
    font-size: 18px;

    color: black;
}
.signup-link, .forgotpassword-link{
   width: 60%;
   
}
ul {
    list-style-type: none;
}

